#line-chart {
    height:300px;
    width:800px;
    margin: 0px auto;
    margin-top: 1em;
}
.brand { font-family: georgia, serif; }
.brand .first {
    color: #ccc;
    font-style: italic;
}
.brand .second {
    color: #fff;
    font-weight: bold;
}

.space10{
    margin-left: 10px;
}
h5{
    font-size: 14px;
}
h5{
    font-size: 14px;
    margin: 0;
    margin-top: 2px;
    margin-left:20px;
    font-weight:normal;
    /*color: #ffffff;*/
}
h4{
    /*color: #ffffff;*/
}
hr{
    height:1px;margin: 10px 0;border:none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;

    margin-top: 20px;margin-bottom: 20px;
}
.space10{
    margin-top: 20px;margin-bottom: 10px;
}
.w740{
    margin-top: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    border:0px;
}
.thumbpic{
    height: 80px;
    background: #323e4a;
    margin-left: 5px;
    margin-right: 5px;
    width: 750px;
}
#piclist {
    width: 710px;
}
#originalpic {
    min-height: 350px;
}
.row-fluid{margin-top: 50px;}
.thumbpic {
    background: #2e2e2e;
}