body {
    /*color: #f3f3f3;*/
}
#line-chart {
    height: 300px;
    width: 800px;
    margin: 0px auto;
    margin-top: 1em;
}

.brand {
    font-family: georgia, serif;
}

.brand .first {
    color: #ccc;
    font-style: italic;
}

.brand .second {
    color: #fff;
    font-weight: bold;
}

.space10 {
    margin-left: 10px;
}

h5 {
    font-size: 14px;
}

h5 {
    font-size: 14px;
    margin: 0;
    margin-top: 2px;
    margin-left: 20px;
    font-weight: normal;
    color: #ffffff;
}

h4 {
    color: #ffffff;
}

hr {
    height: 1px;
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ffffff;

    margin-top: 25px;
    margin-bottom: 10px;
}

.space10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.w740 {
    margin-top: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0px;
}

.thumbpic {
    height: 80px;
    background: #323e4a;
    margin-left: 5px;
    margin-right: 5px;
    width: 750px;
}

#piclist {
    width: 710px;
}

#originalpic {
    height: auto;
    min-height: 350px
}

.row-fluid {
    margin-top: 50px;
}
#print span{
    font-size: 16px;
    margin: 0;
    margin-top: 2px;
    margin-left: 50px;
    font-weight: normal;
}
#print h1{
    color: #000000;
}
/*选中按钮的样式*/
.choose{
    border: 2px solid #446688
}

.btn-position{
    margin: 20px 0;
    width: 100%;
    /*background-color: grey;*/
    background: border-box;
}
.btn-position:hover{
    background: border-box;
}
#btn-bootstrap{
    /*position: absolute;
    margin: 150px 0;
    left: 150px;*/
    margin-top: 150px;
    margin-left: 200px;
    margin-right: 200px;
}

/*canvas画图样式 2020.5.21 fu*/
.canvasChoose .color li{
    height: 20px;
    width: 20px;
    margin: 20px 0;
    border-radius: 50%;
    transition: all linear 0.3s;
    box-sizing: border-box;
    cursor: pointer
}
.color.yc>li{
    max-height: 0;
    opacity: 0!important;
}
.color>li{
    max-height: 155px;
    opacity: 1;
}
.action.x>#brush{
    color: #000;
}
.action.x>#eraser{
    color: red;
}
#red{
    background-color: red;
}
#green{
    background-color: green;
}
#black{
    background-color: black;
}
/*.canvasChoose .color.r>#red{
    transform: scale(1.2);
    border: 4px solid #FF00FF;
}
.canvasChoose .color.g>#green{
    transform: scale(1.2);
    border: 4px solid #FF00FF;
}
.canvasChoose .color.b>#blue{
    transform: scale(1.2);
    border: 4px solid red;
}*/

.canvasChoose .thickness>li{
    margin: 0 0;
    box-sizing: border-box;
    height: 28px;
}
#thin>span{
    display: inline-block;
    height: 4px;
    width: 60px;
    border-radius: 5px;
    background-color: #2c2c2c;
    line-height: 40px;
    cursor: pointer;
}
#thick>span{
    display: inline-block;
    height: 8px;
    width: 60px;
    background-color: #2c2c2c;
    border-radius: 10px;
    line-height: 40px;
    cursor: pointer;
}
.thickness>#thin{
    background-color: #ccc;
}
.thickness.z>#thin{
    background-color: transparent;
}
.thickness.z>#thick{
    background-color: #ccc;
}
.logo-tip{
    color:#2c2c2c;
    margin-right: 15px;
}
.line-tip{
    margin-top: 25px;

    color: #2c2c2c;
}
/******************************************/
