#line-chart {
    height: 300px;
    width: 800px;
    margin: 0px auto;
    margin-top: 1em;
}

.brand {
    font-family: georgia, serif;
}

.brand .first {
    color: #ccc;
    font-style: italic;
}

.brand .second {
    color: #fff;
    font-weight: bold;
}