<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>精康科技</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript" src="../Bootstrap4.3.1/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="../Bootstrap4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../layer-v3.1.1/layer/layer.js"></script>

<!--    <script type="text/javascript" src="../page/lib/easyUpload/easyUpload.js"></script>-->

    <script type="text/javascript" src="../page/lib/ssiUploader/js/ssi-uploader.js"></script>
    <script type="text/javascript" src="../Bootstrap4.3.1/js/commons.js"></script>
    <script type="text/javascript" src="../Bootstrap4.3.1/js/common.js"></script>
    <script type="text/javascript" src="../Bootstrap4.3.1/js/variable.js"></script>
    <script type="text/javascript" src="../page/lib/showLoading/js/jquery.showLoading.js"></script>
    <script type="text/javascript" src="../Bootstrap4.3.1/js/error.js"></script>
    <script type="text/javascript" src="../Bootstrap4.3.1/js/analysisRes.js"></script>

    <link rel="icon" type="image/x-icon" href="../Bootstrap4.3.1/images/favicon.ico">
<!--    <link rel="stylesheet" th:href="@{/static/page/lib/showLoading/images/loading.gif}">-->
    <link rel="stylesheet" href="../page/lib/bootstrap/css/bootstrap2.css">
    <link rel="stylesheet" href="../page/stylesheets/theme.css">
    <link rel="stylesheet" href="../page/lib/font-awesome/css/font-awesome.css">

    <link rel="stylesheet" href="../page/lib/easyUpload/easy-upload.css">

    <link rel="stylesheet" href="../Bootstrap4.3.1/css/showLoading.css">
    <link rel="stylesheet" href="../page/lib/ssiUploader/css/ssi-uploader.css">
    <link rel="stylesheet" href="../Bootstrap4.3.1/css/uploadFile.css">
</head>
<!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body class="">
<!--<![endif]-->
<div class="navbar" id="p_title">
    <div class="navbar-inner">
        <ul class="nav pull-right">
            <li><a href="javascript:void(0);" onclick="clang(1)" class="hidden-phone visible-tablet visible-desktop">English</a>
            </li>
            <li><a href="javascript:void(0);" onclick="clang(2)"
                   class="hidden-phone visible-tablet visible-desktop">中文</a></li>
            <li><a href="#" class="hidden-phone visible-tablet visible-desktop">|</a></li>
            <li><a href="javascript:void (0)" onclick="Logout()"
                   class="hidden-phone visible-tablet visible-desktop">注销</a></li>
            <li>
                <a href="javascript:void (0)" onclick="updatePwd()" class="dropdown-toggle">
                    <i class="icon-user"></i><span id="yh"></span>
                </a>
            </li>
        </ul>
        <a class="brand"><img src="../page/images/logo2.png" style="height: 30px;"> <span class="second">精康科技</span></a>
    </div>
</div>
<div class="sidebar-nav">
    <!--a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-dashboard"></i>功能列表</a-->
    <ul id="dashboard-menu" class="nav nav-list collapse in pagination-centered">
        <li ><a href="../home/home.html" style="line-height: 20px;height: 53px;padding-top: 22px;" ><i class="icon-home" style="font-size: 2em;" ></i><br>首页</a></li>
        <li class="active"><a href="../uploadFile/uploadFile.html" style="line-height: 20px;height: 53px;padding-top: 22px;" ><i class="icon-upload" style="font-size: 2em;" ></i><br>新病人</a></li>
        <li >
            <a  href="javascript:void(0);" onclick="analysisResCh()" style="line-height: 20px;height: 53px;padding-top: 22px;" ><i class="icon-dashboard" style="font-size: 2em;" ></i><br>分析结果</a>
        </li>
        <li ><a href="../history/history.html" style="line-height: 20px;height: 53px;padding-top: 22px;" ><i class="icon-list-alt" style="font-size: 2em;" ></i><br>历史记录</a></li>
        <li ><a href="../about/about.html" style="line-height: 20px;height: 53px;padding-top: 22px;" ><i class="icon-info-sign" style="font-size: 2em;" ></i><br>关于</a></li>
    </ul>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="well" style="text-align: left;">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active in" id="home">
                        <input type="file" multiple id="ssi-upload"/>
                        <form id="tab" method="post">
                            <p id="picId" class="pic">
                            </p>
                            <!--div id="easyContainer" style="text-align: left;display: inline-block;"></div-->
                            <div class="btn-toolbar" style="text-align: left;display: inline-block;">
                                <div class="tab-pane active in" id="home">
                                    <label>精康检测卡读取</label>
                                    <input type="text" id="icKA" name="heart_beat" value="" class="input-xlarge" autocomplete="off" placeholder="请把鼠标放在这里并刷精康检测卡读取卡号">
                                    <input type="button" style="margin-top: -10px;height: 30px;width: 50px" id="clear" value="清空"/>

                                    <input type="text" value="总次数:" style="width: 50px;background: none;outline: none;color: white;border-color: #3b4750" disabled>
                                    <input type="text" id="sumTimes" value="" style="width: 30px;" disabled>
                                    <input type="text" value="剩余次数:" style="width: 60px;background: none;outline: none;color: white;border-color: #3b4750" disabled>
                                    <input type="text" id="lastTimes" value="" style="width: 30px;" disabled>
                                    <input type="button" style="margin-top: -10px;height: 30px;width: 140px" id="Reset" value="自定义精康检测卡号" disabled/>

                                    <label>参数</label>
                                    <input type="text" id="heart_beat" name="heart_beat" value="" class="input-xlarge" autocomplete="off">
                                    <label>病人编号：</label>
                                    <input type="text" id="patient_id" name="patient_id" value="" class="input-xlarge" autocomplete="off">
                                    <label>检测编号：</label>
                                    <input type="text" id="detection_id" name="detection_id" value="" class="input-xlarge" autocomplete="off">
                                    <hr>
                                    <a class="btn btn-large btn-block"  id="startJS" href="#">开始计算</a>
                                </div>
                                <div class="btn-group">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar" style="border-bottom-width: 0px;border-top-width: 2px;" id="footer">
    <div class="navbar-inner" style="color: #FFF; text-align: center;border-bottom-width: 0px;">
        <p>Copyright©精康科技
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <img src="../Bootstrap4.3.1/images/icp.png">&nbsp;
            <a href="http://www.beian.miit.gov.cn/" target="_blank">浙ICP备19049666号-1</a>
        </p>
    </div>
</div>
<script type="text/javascript">
    let username;
    getUsername().then((data) => {
        username = data.content;
        $("#yh").html(data.content);
    });
    var tempheith=0;
    $(function() {
        var footerHeight = 0,
            footerTop = 0,
            $footer = $("#footer");
        $content = $('.content');
        $title = $('#p_title');
        function positionFooter() {
            //取到div#footer高度
            footerHeight = $footer.height();
            //div#footer离屏幕顶部的距离
            footerTop = ($(window).scrollTop()+$(window).height()-footerHeight)+"px";
            //alert($(window).height());
            //alert("offh:"+document.getElementsByClassName("content")[0].offsetHeight);
            if(tempheith != $(window).height()) {
                //alert($(window).height() +" "+tempheith);
                tempheith = $(window).height();
                $content.css({height:'auto'});
            }else{

                return;
            }
            if ( ($(document.body).height()+footerHeight) < $(window).height()) {
                // alert($(window).height() +" "+footerHeight+" "+$title.height());
                var tempheith2 = $(window).height()-footerHeight-$title.height()-4;
                $content.css({height:tempheith2});

            }
            //如果页面内容高度小于屏幕高度，div#footer将绝对定位到屏幕底部，否则div#footer保留它的正常静态定位


        }
        positionFooter();
        $(window).scroll(positionFooter).resize(positionFooter);
    });
</script>
<script type="text/javascript">
    let icKA = localStorage.getItem("icKA");
    $("[rel=tooltip]").tooltip();
    $(function() {
        $('.demo-cancel-click').click(function(){return false;});
        //icKA还有为空的状况
        if (icKA === null || icKA === "") {
            layer.msg('未检测到之前有刷精康检测卡记录，请先刷卡', {icon: 6});
        } else {
            $("#icKA").val(icKA);
            //数据库操操作  查询icKA对应的次数---剩余次数
            $.get("../upload/selectCount/" + icKA, (data) => {
                if (data.success) {
                    $("#lastTimes").val(data.content);
                    $("#sumTimes").val(500);
                    $("#Reset").attr("disabled",false);
                } else {
                    layer.msg(data.content, {icon: 2});
                    $("#icKA").val('');
                    $("#lastTimes").val('');
                    $("#sumTimes").val('');
                    $("#Reset").attr("disabled", true);
                }
            });
        }
        $("#icKA").change(function () {
            let ickVal = $('#icKA').val();
            $.get("../upload/selectCount/" + ickVal, (data) => {
                if (data.success) {
                    $("#lastTimes").val(data.content);
                    $("#sumTimes").val(500);
                    $("#Reset").attr("disabled",false);
                    localStorage.setItem("icKA", ickVal);
                } else {
                    layer.msg(data.content, {icon: 2});
                    $("#icKA").val('');
                    $("#lastTimes").val('');
                    $("#sumTimes").val('');
                    $("#Reset").attr("disabled", true);
                }
            });
        });
    });
   /* $(function() {
        $('.demo-cancel-click').click(function(){return false;});

        //icKA还有为空的状况
        if (icKA === null || icKA === "") {
            layer.msg('未检测到之前有刷精康检测卡记录，请先刷卡', {icon: 6});
        } else {
            $("#icKA").val(icKA);
            //数据库操操作  查询icKA对应的次数---剩余次数
            $.get("../upload/selectCount/" + icKA, (data) => {
                if (data.success) {
                    $("#lastTimes").val(data.content);
                    $("#sumTimes").val(500);
                    $('#Reset').removeAttr("disabled");
                } else {
                    layer.msg(data.content, {icon: 2});
                    $("#icKA").val('');
                    $("#lastTimes").val('');
                    $("#sumTimes").val('');
                    $('#Reset').removeAttr("disabled");
                }
            });
            // layer.msg('已经有icka',{icon:6});
        }
        $('#icKA')[0].addEventListener('change',function () {
            let ickVal = $('#icKA').val();
            $.get("../upload/selectCount/" + ickVal, (data) => {
                if (data.success) {
                    $("#lastTimes").val(data.content);
                    $("#sumTimes").val(500);
                    $('#Reset').removeAttr("disabled");
                    localStorage.setItem("icKA", ickVal);
                } else {
                    layer.msg(data.content, {icon: 2});
                    $("#icKA").val('');
                    $("#lastTimes").val('');
                    $("#sumTimes").val('');
                    $('#Reset').removeAttr("disabled");
                }
            });
        })
    });*/
</script>
<script>
    let loadingFlag;
    const api = {
        insertResultGroup: (username, patientID, detectionID, city,fileList,heartbeat) => {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url:"../upload/insertResultGroup",
                    type:"POST",
                    data:JSON.stringify({
                        username: username,
                        patientID: patientID,
                        detectionID: detectionID,
                        city: city,
                        imageList: fileList,
                        heartbeat: heartbeat
                    }),
                    contentType:'application/json',//发送信息至服务器时内容编码类型。
                    dataType:'json', // 预期服务器返回的数据类型。如果不指定，jQuery 将自动根据 HTTP 包 MIME 信息来智能判断，比如XML MIME类型就被识别为XML。
                    cache:false,
                    beforeSend: () => {
                        //注意，layer.msg默认3秒自动关闭，如果数据加载耗时比较长，需要设置time
                        loadingFlag= layer.msg('请稍后.......', {
                            // icon: 16,
                            shade: 0.6,
                            // shadeClose:false,
                            time: 60000,
                            success: (layero, index) => {
                                var msg = layero.text();
                                var i = 60;
                                var timer = null;
                                var fn = function () {
                                    layero.find(".layui-layer-content").text(msg + '(' + i + ')');
                                    if (!i) {
                                        // layer.close(index);
                                        clearInterval(timer);
                                    }
                                    i--;
                                };
                                timer = setInterval(fn, 1000);
                                fn();
                            }
                        });
                    },
                    success: (data) => {
                        layer.close(loadingFlag);
                        resolve(data);
                    },
                    error:(XMLHttpRequest, textStatus, errorThrown)=>{
                        try {
                            let response = JSON.parse(XMLHttpRequest.responseText);
                            layer.alert(response.msg + "," + response.data,{icon: 2});
                        } catch (e) {
                            layer.alert('服务器异常',{icon: 2});
                        }
                    }
                });
            });
        },
        updateResult:function (resultgrounid,patient_id,detect_id,result,last,errorInfo,isResult) {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url:"../upload/updateResult",
                    type:"POST",
                    data:JSON.stringify({
                        id:resultgrounid,
                        patientID: patient_id,
                        detectionID: detect_id,
                        result: result,
                        last: last,
                        error: errorInfo,
                        isResult: isResult
                    }),
                    contentType:'application/json',//发送信息至服务器时内容编码类型。
                    dataType:'json', // 预期服务器返回的数据类型。如果不指定，jQuery 将自动根据 HTTP 包 MIME 信息来智能判断，比如XML MIME类型就被识别为XML。
                    cache:false,
                    success: (data) => {
                        resolve(data);
                    },
                    error:(XMLHttpRequest, textStatus, errorThrown)=>{
                        try {
                            let response = JSON.parse(XMLHttpRequest.responseText);
                            layer.alert(response.msg + "," + response.data,{icon: 2});
                        } catch (e) {
                            layer.alert('服务器异常',{icon: 2});
                        }
                    }
                });
            });
        },
        checkPatient: () => {
            return new Promise((resolve, reject) => {
                $.post("../upload/checkPatient", (date) => {
                    resolve(date);
                });
            });
        },
        checkIC: (ic) => {
            return new Promise((resolve, reject) => {
                $.post("../upload/checkIC/" + ic, (date) => {
                    resolve(date);
                });
            });
        },
        saveTempNumber: (number,tempNumber) => {
            return new Promise((resolve, reject) => {
                $.post("../upload/saveTempNumber",{number:number, tempNumber: tempNumber}, (data) => {
                    resolve(data);
                });
            });
        }
    };
    $.post("../upload/checkPatient",function (data) {
        if (data.content != "" && data.content != null) {
            $("#patient_id").val(data.content + 1);
        }else {
            $("#patient_id").val("");
        }
    });
    //显示加载数据
    function ShowDiv() {
        $("body").showLoading();
    }
    //隐藏加载数据
    function HiddenDiv() {
        $("body").hideLoading();
    }
    var is_con = 1;
    function cancelUpLoad() {
        $("body").hideLoading();
        clearInterval(intervalVal);
        is_con = 0;
    }
    /* 生成唯一标识符  */

    function guid() {
        return 'xxxx-4xxx-yxxx-xxxx'.replace(/[xy]/g, function(c) {
            var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);
            return v.toString(16);
        });
    }
    var uuid = guid() ;
    console.log(uuid,'生成的唯一标识符111')

    var fileArr  =[];
    $('#ssi-upload').ssi_uploader(
        {
            url: '../upload/image',
            data:{
                uuid: uuid
            },
            maxFileSize: 10,
            maxNumberOfFiles:30,
            allowed: ['jpg', 'jpeg', 'png', 'bmp', 'gif'],
            locale: "cn",
            beforeUpload: function () {
            },
            onClear: function () {
                $("#tab input[name='fileList']").remove();
                fileArr = [];
            },
            onEachUpload: function (fileInfo, res) {
                if (res) {
                    fileArr.push(res.content);
                    $("#tab").append("<input type='hidden' id='f" + res.content + "' name='fileList' value='" + res.content + "'>");
                }
            },
            onDeleteOne: function (index_form) {
            }
        });

    $("#startJS").click((key, value) => {
        if($("#icKA").val().trim()==""){
            layer.msg("请写入正确精康检测卡号或者刷精康检测卡", () => {
            });
            return false;
        }
        if($("#heart_beat").val().trim()==""){
            layer.msg("请输入参数", () => {
            });
            return false;
        }
        if($("#patient_id").val().trim()==""){
            layer.msg("请输入病人ID", () => {
            });
            return false;
        }
        if($("#detection_id").val().trim()==""){
            layer.msg("请输入检测ID", () => {
            });
            return false;
        }
        if($('#tab input[name=\'fileList\']').length < 1){
            layer.msg("请上传图片", () => {
            });
            return false;
        }/*else if ($('#tab input[name=\'fileList\']').length != 20) {
            layer.msg("请上传20张图片", () => {
            });
            return false;
        }*/
        const patientID = $("#patient_id").val();
        const detectionID = $("#detection_id").val();
        const heart_beat = $("#heart_beat").val();
        const icKA = $("#icKA").val();
        const ip_city = {'test':'北京市', 'sjzwy':'石家庄市', 'zsyy':'上海市', 'haochen':'佐治亚', 'Jiangyi':'佐治亚', 'Mingtao':'佐治亚', 'mingtao':'佐治亚','qlhqlh':'杭州市','qqq':'亚特兰大','hhh':'澳大利亚','Madison':'英格兰'};
        const fileList = fileArr;
        const city = ip_city[username];
        // ShowDiv();
        //校验参数（精康检测卡卡号） 是否在数据库里面
        api.checkIC(icKA).then((icdata) => {
            //校验成功
            if(icdata.success){
                api.insertResultGroup(username, patientID, detectionID, city, fileList, heart_beat).then((data) => {
                    const resultgrounid = data.content.arg01;
                    const patient_id = data.content.patient_id;
                    const detect_id = data.content.detect_id;
                    const result = data.content.result;
                    const last = data.content.last;
                    const errorInfo = data.content.error;
                    const isResult = (errorInfo && errorInfo != "") ? 2 : 1;
                    new Variable(resultgrounid, patient_id, detect_id, result, last, errorInfo, isResult);
                    // HiddenDiv();
                    api.updateResult(resultgrounid, patient_id, detect_id, result, last, errorInfo, isResult).then((list) => {
                        if (errorInfo != "") {
                            layer.msg("处理失败：" + errorInfo,{icon: 2,time: 4000});
                        } else {
                            $.get("../upload/getPath?id=" + resultgrounid, function (data) {
                                urlCh = "../AnalysisResult/analysisResult.html?id=" + resultgrounid + "&fileList=" + fileList + "&username=" + username + "&path=" + data.path;
                                urlEn = "../AnalysisResult/analysisResultEnglish.html?id=" + resultgrounid + "&fileList=" + fileList + "&username=" + username + "&path=" + data.path;
                                localStorage.setItem("urlCh", urlCh);
                                localStorage.setItem("urlEn", urlEn);
                                localStorage.setItem("username", username);
                                localStorage.setItem("checkTime", getCurrentDate(new Date()));
                                window.location.href = "../AnalysisResult/analysisResult.html?id=" + resultgrounid + "&fileList=" + fileList + "&username=" + username + "&path=" + data.path;
                            });
                        }
                    });
                }).catch((err) => {
                    layer.alert(err, {icon: 2});
                });
            }else {
                //校验不成功
                layer.msg("您的精康检测卡次数已用完或此精康检测卡号未申请此功能，请先申请精康检测卡功能或者申请续精康检测卡次数")
            }


        });
    });
    $("#clear").click(function () {
        $("#icKA").val('');
        $("#lastTimes").val('');
        $("#sumTimes").val('');
        $("#Reset").attr("disabled", true);
    });
    function clang(_sing) {
        if (_sing == 1) {
            window.location.href = "uploadFileEnglish.html";
        } else {
            window.location.href = "uploadFile.html";
        }
    }

   /* $("#Reset").click(function () {
        //用他框架  怎么解决点开后 给第一个框赋值
        //不用框架，怎么关闭弹出框
        layer.open({
            type: 1 //Page层类型
           /!* ,btn: ['重置', '取消'], //只是为了演示
            //success指的是 修改按钮的样式 三种样式left center right
            success: function(layero){
                layero.find('.layui-layer-btn').css('text-align', 'center')
            }*!/
            // ,area: ['350px', '150px']//弹出层页面比例,类型：String/Array,默认：'auto',在默认状态下，layer是宽高都自适应的,但当你只想定义宽度时，你可以area: '500px'，高度仍然是自适应的。当你宽高都要定义时，你可以area: ['500px', '300px']
            ,area: ['400px', '180px']//弹出层页面比例,类型：String/Array,默认：'auto',在默认状态下，layer是宽高都自适应的,但当你只想定义宽度时，你可以area: '500px'，高度仍然是自适应的。当你宽高都要定义时，你可以area: ['500px', '300px']
            ,offset:'auto'// 坐标 类型：String/Array  默认：垂直水平居中 offset默认情况下不用设置,
            // ,title: '照片上传'//title默认显示在左边，能拖动了
            ,title: ['重置精康检测卡号','text-align:center']//传一个数组，第一个参数标题，第二个参数可以写任何css样式，能拖动
            // ,title: false//不显示title，但是不能拖动了
            ,shade: 0.6 //遮罩透明度 类型：String/Array/Boolean 弹层外区域。默认是0.3透明度的黑色背景（'#000'）。如果你想定义别的颜色，可以shade: [0.8, '#393D49']；如果你不想显示遮罩，可以shade: 0
            ,maxmin: true //允许全屏最小化
            ,anim: 1 //0-6的动画形式，-1不开启
            , content: html//在这里面输入任何合法的js语句
        });*/


           $("#Reset").click(function () {
                //用他框架  怎么解决点开后 给第一个框赋值
                //不用框架，怎么关闭弹出框
                layer.open({
                    type: 1 //Page层类型
                    ,btn: ['确定', '取消'], //只是为了演示
                    //success指的是 修改按钮的样式 三种样式left center right
                    success: function(layero){
                        layero.find('.layui-layer-btn').css('text-align', 'center')
                    }
                    // ,area: ['350px', '150px']//弹出层页面比例,类型：String/Array,默认：'auto',在默认状态下，layer是宽高都自适应的,但当你只想定义宽度时，你可以area: '500px'，高度仍然是自适应的。当你宽高都要定义时，你可以area: ['500px', '300px']
                    ,area: ['350px', '180px']//弹出层页面比例,类型：String/Array,默认：'auto',在默认状态下，layer是宽高都自适应的,但当你只想定义宽度时，你可以area: '500px'，高度仍然是自适应的。当你宽高都要定义时，你可以area: ['500px', '300px']
                    ,offset:'auto'// 坐标 类型：String/Array  默认：垂直水平居中 offset默认情况下不用设置,
                    // ,title: '照片上传'//title默认显示在左边，能拖动了
                    ,title: ['自定义精康检测卡号','text-align:center']//传一个数组，第一个参数标题，第二个参数可以写任何css样式，能拖动
                    // ,title: false//不显示title，但是不能拖动了
                    ,shade: 0.6 //遮罩透明度 类型：String/Array/Boolean 弹层外区域。默认是0.3透明度的黑色背景（'#000'）。如果你想定义别的颜色，可以shade: [0.8, '#393D49']；如果你不想显示遮罩，可以shade: 0
                    ,maxmin: true //允许全屏最小化
                    ,anim: 1 //0-6的动画形式，-1不开启
                    , content: html//在这里面输入任何合法的js语句
                    ,yes: function (index, layero) {
                        let value = $("#RestInput").val();
                        let number = $("#icKA").val();
                        //询问框
                        if (value === "") {
                            layer.msg("请填写自定义的卡号");
                        }else {
                            let reg=/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/;
                            if(!reg.test(value)||value.length<6||value.length>12){
                                return layer.msg("自定义卡号必须为6-12位的数字和字母的组合");
                            }
                            layer.confirm('您确定要自定义精康检查卡号吗?', {
                                btn: ['确定','取消'], //按钮
                                success: function(layero){
                                    layero.find('.layui-layer-btn').css('text-align', 'center')
                                }
                            }, function(){
                                layer.close(index);
                                api.saveTempNumber(number,value).then((res) => {
                                    if (res.success === true && res.content === 1) {
                                        layer.msg("操作成功");
                                        $("#icKA").val(value);
                                        localStorage.setItem("icKA", value);
                                    } else if (res.success===false && res.content === 0) {
                                        layer.msg("操作失败,必须先刷卡,再自定义精康检查卡号");
                                    }else if (res.success===false && res.content === "") {
                                        layer.msg("something error！");
                                    }
                                });
                            }, function(index1){
                                layer.close(index1);
                            });
                        }

                    },
                    /*   end: function () {//无论是确认还是取消，只要层被销毁了，end都会执行，不携带任何参数。layer.open关闭事件
                           location.reload();　　//layer.open关闭刷新
                       }*/
                });

                //prompt层  展示没设置正则表达式
     /*   layer.prompt(
            {
                title: '重置精康检测卡号'
                ,title2:'我是谁'
                , formType: 0
            }
            , function (value, index, elem) {
                layer.close(index);
                let number = $("#icKA").val();
                api.saveTempNumber(number,value).then((res) => {
                    if (res.success === true && res.content === 1) {
                        layer.msg("操作成功");
                        $("#icKA").val(value);
                        localStorage.setItem("icKA", value);
                    } else if (res.success===false && res.content === 0) {
                        layer.msg("重置精康检测卡号必须先刷卡，再重置。");
                    }else if (res.success===false && res.content === "") {
                        layer.msg("something error！");
                    }
                });
            });*/
    });
</script>
</body>
</html>