<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PrecisionMedCare</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript" src="../Bootstrap4.3.1/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="../Bootstrap4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../layer-v3.1.1/layer/layer.js"></script>
    <script type="text/javascript" src="../page/lib/easyUpload/easyUpload.js"></script>
    <script type="text/javascript" src="../page/lib/ssiUploader/js/ssi-uploader.js"></script>
    <script type="text/javascript" src="../Bootstrap4.3.1/js/commons.js"></script>
    <script type="text/javascript" src="../Bootstrap4.3.1/js/common.js"></script>
    <script type="text/javascript" src="../Bootstrap4.3.1/js/variable.js"></script>
    <script type="text/javascript" src="../page/lib/showLoading/js/jquery.showLoading.js"></script>
    <script type="text/javascript" src="../Bootstrap4.3.1/js/error.js"></script>
    <script type="text/javascript" src="../Bootstrap4.3.1/js/analysisRes.js"></script>

    <link rel="icon" type="image/x-icon" href="../Bootstrap4.3.1/images/favicon.ico">
<!--    <link rel="stylesheet" th:href="@{/static/page/lib/showLoading/images/loading.gif}">-->
    <link rel="stylesheet" href="../page/lib/bootstrap/css/bootstrap2.css">
    <link rel="stylesheet" href="../page/stylesheets/theme.css">
    <link rel="stylesheet" href="../page/lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../page/lib/easyUpload/easy-upload.css">
    <link rel="stylesheet" href="../Bootstrap4.3.1/css/showLoading.css">
    <link rel="stylesheet" href="../page/lib/ssiUploader/css/ssi-uploader.css">
    <link rel="stylesheet" href="../Bootstrap4.3.1/css/uploadFile.css">
</head>
<!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body class="">
<!--<![endif]-->
<div class="navbar" id="p_title">
    <div class="navbar-inner">
        <ul class="nav pull-right">
            <li><a href="javascript:void(0);" onclick="clang(1)" class="hidden-phone visible-tablet visible-desktop">English</a>
            </li>
            <li><a href="javascript:void(0);" onclick="clang(2)"
                   class="hidden-phone visible-tablet visible-desktop">中文</a></li>
            <li><a href="#" class="hidden-phone visible-tablet visible-desktop">|</a></li>
            <li><a href="javascript:void (0)" onclick="LogoutEnglish()"
                   class="hidden-phone visible-tablet visible-desktop">Logout</a></li>
            <li>
                <a href="javascript:void (0)" onclick="updatePwdEnglish()" class="dropdown-toggle">
                    <i class="icon-user"></i><span id="yh"></span>
                </a>
            </li>
        </ul>
        <a class="brand"><img src="../page/images/logo2.png" style="height: 30px;"> <span class="second">PrecisionMedCare</span></a>
    </div>
</div>
<div class="sidebar-nav">
    <!--a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-dashboard"></i>功能列表</a-->
    <ul id="dashboard-menu" class="nav nav-list collapse in pagination-centered">
        <li ><a href="../home/homeEnglish.html" style="line-height: 20px;height: 53px;padding-top: 22px;" ><i class="icon-home" style="font-size: 2em;" ></i><br>Home</a></li>
        <li class="active"><a href="../uploadFile/uploadFileEnglish.html" style="line-height: 20px;height: 53px;padding-top: 22px;" ><i class="icon-upload" style="font-size: 2em;" ></i><br>NewPatient</a></li>
        <li >
            <a  href="javascript:void(0);" onclick="analysisResEn()" style="line-height: 20px;height: 53px;padding-top: 22px;" ><i class="icon-dashboard" style="font-size: 2em;" ></i><br>Result</a>
        </li>
        <li ><a href="../history/historyEnglish.html" style="line-height: 20px;height: 53px;padding-top: 22px;" ><i class="icon-list-alt" style="font-size: 2em;" ></i><br>History</a></li>
        <li ><a href="../about/aboutEnglish.html" style="line-height: 20px;height: 53px;padding-top: 22px;" ><i class="icon-info-sign" style="font-size: 2em;" ></i><br>About</a></li>
    </ul>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="well" style="text-align: left;">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active in" id="home">
                        <input type="file" multiple id="ssi-upload"/>
                        <form id="tab" action="" method="post">
                            <p id="picId" class="pic">
                            </p>
                            <!--div id="easyContainer" style="text-align: left;display: inline-block;"></div-->
                            <div class="btn-toolbar" style="text-align: left;display: inline-block;">
                                <div class="tab-pane active in" id="home">
                                    <label>Jk card read</label>
                                    <input type="text" id="icKA" name="heart_beat" value="" class="input-xlarge" autocomplete="off" placeholder="hover your mouse here and swipe Jk card">
                                    <!--background: none;outline: none;color: white 去掉input默认样式 兼容的解决方法：-->
                                    <input type="button" style="margin-top: -10px;height: 30px;width: 50px" id="clear" value="Clear"/>
                                    <input type="text" value="Total times:" style="width: 70px;background: none;outline: none;color: white;border-color: #3b4750" disabled>
                                    <input type="text" id="sumTimes" value="" style="width: 30px;" disabled>
                                    <input type="text" value="remaining times:" style="width: 102px;background: none;outline: none;color: white;border-color: #3b4750" disabled>
                                    <input type="text" id="lastTimes" value="" style="width: 30px;" disabled>
                                    <input type="button" style="margin-top: -10px;height: 30px;width: 155px" id="Reset" value="Reset JK card number" disabled/>
                                    <label>Parameter</label>
                                    <input type="text" id="heart_beat" name="heart_beat" value="" class="input-xlarge" autocomplete="off">
                                    <label>Patient ID:</label>
                                    <input type="text" id="patient_id" name="patient_id" value="" class="input-xlarge" autocomplete="off">
                                    <label>Detection ID:</label>
                                    <input type="text" id="detection_id" name="detection_id" value="" class="input-xlarge" autocomplete="off">
                                    <hr>
                                    <a class="btn btn-large btn-block"  id="startJS" href="#">Start computing</a>
                                </div>
                                <div class="btn-group">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar" style="border-bottom-width: 0px;border-top-width: 2px;" id="footer">
    <div class="navbar-inner" style="color: #FFF; text-align: center;border-bottom-width: 0px;">
        <p>Copyright©PrecisionMedCare
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <img src="../Bootstrap4.3.1/images/icp.png">&nbsp;
            <a href="http://www.beian.miit.gov.cn/" target="_blank">Zhejiang ICP No.19049666-1</a>
        </p>
    </div>
</div>
<script type="text/javascript">
    let username;
    getUsername().then((data) => {
        username = data.content;
        $("#yh").html(data.content);
    });
    var tempheith=0;
    $(function() {
        var footerHeight = 0,
            footerTop = 0,
            $footer = $("#footer");
        $content = $('.content');
        $title = $('#p_title');
        function positionFooter() {
            //取到div#footer高度
            footerHeight = $footer.height();
            //div#footer离屏幕顶部的距离
            footerTop = ($(window).scrollTop()+$(window).height()-footerHeight)+"px";
            //alert($(window).height());
            //alert("offh:"+document.getElementsByClassName("content")[0].offsetHeight);
            if(tempheith != $(window).height()) {
                //alert($(window).height() +" "+tempheith);
                tempheith = $(window).height();
                $content.css({height:'auto'});
            }else{

                return;
            }
            if ( ($(document.body).height()+footerHeight) < $(window).height()) {
                // alert($(window).height() +" "+footerHeight+" "+$title.height());
                var tempheith2 = $(window).height()-footerHeight-$title.height()-4;
                $content.css({height:tempheith2});

            }
            //如果页面内容高度小于屏幕高度，div#footer将绝对定位到屏幕底部，否则div#footer保留它的正常静态定位


        }
        positionFooter();
        $(window).scroll(positionFooter).resize(positionFooter);
    });
</script>
<script type="text/javascript">
    let icKA = localStorage.getItem("icKA");
    $("[rel=tooltip]").tooltip();
    $(function() {
        $('.demo-cancel-click').click(function(){return false;});
        //icKA还有为空的状况
        if (icKA === null || icKA === "") {
            layer.msg('I haven\'t detected the Jk card record before, please swipe first',{icon:6});
        } else {
            $("#icKA").val(icKA);
            //数据库操操作  查询icKA对应的次数---剩余次数
            $.get("../upload/selectCount/" + icKA, (data) => {
                if (data.success) {
                    $("#lastTimes").val(data.content);
                    $("#sumTimes").val(500);
                    $("#Reset").attr("disabled",false);
                } else {
                    layer.msg(data.content, {icon: 2});
                    $("#icKA").val('');
                    $("#lastTimes").val('');
                    $("#sumTimes").val('');
                    $("#Reset").attr("disabled", true);
                }
            });
        }
        $("#icKA").change(function () {
            let ickVal = $('#icKA').val();
            $.get("../upload/selectCount/" + ickVal, (data) => {
                if (data.success) {
                    $("#lastTimes").val(data.content);
                    $("#sumTimes").val(500);
                    $("#Reset").attr("disabled",false);
                    localStorage.setItem("icKA", ickVal);
                } else {
                    layer.msg(data.content, {icon: 2});
                    $("#icKA").val('');
                    $("#lastTimes").val('');
                    $("#sumTimes").val('');
                    $("#Reset").attr("disabled", true);
                }
            });
        });
    });
</script>
<script>
    let loadingFlag;
    const api = {
        insertResultGroup: (username, patientID, detectionID, city,fileList,heartbeat) => {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url:"../upload/insertResultGroup",
                    type:"POST",
                    data:JSON.stringify({
                        username: username,
                        patientID: patientID,
                        detectionID: detectionID,
                        city: city,
                        imageList: fileList,
                        heartbeat: heartbeat
                    }),
                    contentType:'application/json',//发送信息至服务器时内容编码类型。
                    dataType:'json', // 预期服务器返回的数据类型。如果不指定，jQuery 将自动根据 HTTP 包 MIME 信息来智能判断，比如XML MIME类型就被识别为XML。
                    cache:false,
                    beforeSend: () => {
                        //注意，layer.msg默认3秒自动关闭，如果数据加载耗时比较长，需要设置time
                        loadingFlag= layer.msg('please wait.......', {
                            // icon: 16,
                            shade: 0.6,
                            // shadeClose:false,
                            time: 60000,
                            success: (layero, index) => {
                                var msg = layero.text();
                                var i = 60;
                                var timer = null;
                                var fn = function () {
                                    layero.find(".layui-layer-content").text(msg + '(' + i + ')');
                                    if (!i) {
                                        // layer.close(index);
                                        clearInterval(timer);
                                    }
                                    i--;
                                };
                                timer = setInterval(fn, 1000);
                                fn();
                            }
                        });
                    },
                    success: (data) => {
                        resolve(data);
                    },
                    error:(XMLHttpRequest, textStatus, errorThrown)=>{
                        try {
                            let response = JSON.parse(XMLHttpRequest.responseText);
                            layer.alert(response.msg + "," + response.data,{icon: 2});
                        } catch (e) {
                            layer.alert('服务器异常',{icon: 2});
                        }
                    }
                });
            });
        },
        updateResult:function (resultgrounid,patient_id,detect_id,result,last,errorInfo,isResult) {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url:"../upload/updateResult",
                    type:"POST",
                    data:JSON.stringify({
                        id:resultgrounid,
                        patientID: patient_id,
                        detectionID: detect_id,
                        result: result,
                        last: last,
                        error: errorInfo,
                        isResult: isResult
                    }),
                    contentType:'application/json',//发送信息至服务器时内容编码类型。
                    dataType:'json', // 预期服务器返回的数据类型。如果不指定，jQuery 将自动根据 HTTP 包 MIME 信息来智能判断，比如XML MIME类型就被识别为XML。
                    cache:false,
                    success: (data) => {
                        resolve(data);
                    },
                    error:(XMLHttpRequest, textStatus, errorThrown)=>{
                        try {
                            let response = JSON.parse(XMLHttpRequest.responseText);
                            layer.alert(response.msg + "," + response.data,{icon: 2});
                        } catch (e) {
                            layer.alert('服务器异常',{icon: 2});
                        }
                    }
                });
            });
        },
        checkPatient: () => {
            return new Promise((resolve, reject) => {
                $.post("../upload/checkPatient", (date) => {
                    resolve(date);
                });
            });
        },
        checkIC: (ic) => {
            return new Promise((resolve, reject) => {
                $.post("../upload/checkIC/" + ic, (date) => {
                    resolve(date);
                });
            });
        },
        saveTempNumber: (number,tempNumber) => {
            return new Promise((resolve, reject) => {
                $.post("../upload/saveTempNumber",{number:number, tempNumber: tempNumber}, (data) => {
                    resolve(data);
                });
            });
        }
    };
    $.post("../upload/checkPatient",function (data) {
        if (data.content != "" && data.content != null) {
            $("#patient_id").val(data.content + 1);
        }else {
            $("#patient_id").val("");
        }
    });
    //显示加载数据
    function ShowDiv() {
        $("body").showLoading();
    }
    //隐藏加载数据
    function HiddenDiv() {
        $("body").hideLoading();
    }
    var is_con = 1;
    function cancelUpLoad() {
        $("body").hideLoading();
        clearInterval(intervalVal);
        is_con = 0;
    }
    /* 生成唯一标识符  */

    function guid() {
        return 'xxxx-4xxx-yxxx-xxxx'.replace(/[xy]/g, function(c) {
            var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);
            return v.toString(16);
        });
    }
    var uuid = guid() ;
    console.log(uuid,'生成的唯一标识符111')

    var fileArr  =[];
    $('#ssi-upload').ssi_uploader(
        {
            url: '../upload/image',
            data:{
                uuid: uuid
            },
            maxFileSize: 10,
            maxNumberOfFiles:30,
            allowed: ['jpg', 'jpeg', 'png', 'bmp', 'gif'],
            locale: "en",
            beforeUpload: function () {
            },
            onClear: function () {
                $("#tab input[name='fileList']").remove();
                fileArr = [];
            },
            onEachUpload: function (fileInfo, res) {
                if (res) {
                    fileArr.push(res.content);
                    $("#tab").append("<input type='hidden' id='f" + res.content + "' name='fileList' value='" + res.content + "'>");
                }
            },
            onDeleteOne: function (index_form) {
            }
        });
    $("#startJS").click(() => {
        if($("#icKA").val().trim()==""){
            layer.msg("Please write the correct Jk card number or swipe the Jk card", () => {
            });
            return false;
        }
        if($("#heart_beat").val().trim()==""){
            layer.msg("Please enter parameters", () => {
            });
            return false;
        }
        if($("#patient_id").val().trim()==""){
            layer.msg("Please enter patient ID", () => {
            });
            return false;
        }
        if($("#detection_id").val().trim()==""){
            layer.msg("Please enter detection ID", () => {
            });
            return false;
        }
        if($('#tab input[name=\'fileList\']').length < 1){
            layer.msg("Please upload pictures", () => {
            });
            return false;
        }/*else if ($('#tab input[name=\'fileList\']').length != 20) {
            layer.msg("Please upload 20 pictures", () => {
            });
            return false;
        }*/
        const patientID = $("#patient_id").val();
        const detectionID = $("#detection_id").val();
        const heart_beat = $("#heart_beat").val();
        const icKA = $("#icKA").val();
        const ip_city = {'test':'北京市', 'sjzwy':'石家庄市', 'zsyy':'上海市', 'haochen':'佐治亚', 'Jiangyi':'佐治亚', 'Mingtao':'佐治亚', 'mingtao':'佐治亚','qlhqlh':'杭州市','qqq':'亚特兰大','hhh':'澳大利亚','Madison':'英格兰'};
        const fileList = fileArr;
        const city = ip_city[username];
        // ShowDiv();
        //校验参数（ic卡卡号） 是否在数据库里面
        api.checkIC(icKA).then((icdata) => {
            //校验成功
            if (icdata.success) {
                api.insertResultGroup(username, patientID, detectionID, city, fileList, heart_beat).then((data) => {
                    const resultgrounid = data.content.arg01;
                    const patient_id = data.content.patient_id;
                    const detect_id = data.content.detect_id;
                    const result = data.content.result;
                    const last = data.content.last;
                    const errorInfo = data.content.error;
                    const isResult = (errorInfo && errorInfo != "") ? 2 : 1;
                    new Variable(resultgrounid, patient_id, detect_id, result, last, errorInfo, isResult);
                    layer.close(loadingFlag);
                    // HiddenDiv();
                    api.updateResult(resultgrounid, patient_id, detect_id, result, last, errorInfo, isResult).then((list) => {
                        if (errorInfo != "") {
                            layer.msg("Processing failed：" + errorInfo, {icon: 2, time: 4000});
                        } else {
                            $.get("../upload/getPath?id=" + resultgrounid, function (data) {
                                urlCh = "../AnalysisResult/analysisResult.html?id=" + resultgrounid + "&fileList=" + fileList + "&username=" + username + "&path=" + data.path;
                                urlEn = "../AnalysisResult/analysisResultEnglish.html?id=" + resultgrounid + "&fileList=" + fileList + "&username=" + username + "&path=" + data.path;
                                localStorage.setItem("urlCh", urlCh);
                                localStorage.setItem("urlEn", urlEn);
                                localStorage.setItem("username", username);
                                localStorage.setItem("checkTime", getCurrentDate(new Date()));
                                window.location.href = "../AnalysisResult/analysisResultEnglish.html?id=" + resultgrounid + "&fileList=" + fileList + "&username=" + username + "&path=" + data.path;
                            });
                        }
                    });
                }).catch((err) => {
                    layer.alert(err, {icon: 2});
                });
            } else {
                //校验不成功
                layer.msg("Your Jk card has been used up or this Jk card number has not been applied for this function. Please apply for Jk card function first or apply for Jk card renewal.")
            }
        });
    });
    $("#clear").click(function () {
        $("#icKA").val("");
    });
    function clang(_sing) {
        if (_sing == 1) {
            window.location.href = "uploadFileEnglish.html";
        } else {
            window.location.href = "uploadFile.html";
        }
    }
/*    $("#Reset").click(function () {
        //prompt层  展示没设置正则表达式
        layer.prompt(
            {
                title: 'Reset JK card number'
                , formType: 0
            }
            , function (value, index, elem) {
                layer.close(index);
                let number = $("#icKA").val();
                api.saveTempNumber(number,value).then((res) => {
                    if (res.success === true && res.content === 1) {
                        layer.msg("Successful operation");
                        $("#icKA").val(value);
                        localStorage.setItem("icKA", value);
                    } else if (res.success===false && res.content === 0) {
                        layer.msg("To reset the JK card number, you must swipe the card before resetting.");
                    }else if (res.success===false && res.content === "") {
                        layer.msg("something error！");
                    }
                });
            });
    });*/
    $("#Reset").click(function () {
        //用他框架  怎么解决点开后 给第一个框赋值
        //不用框架，怎么关闭弹出框
        layer.open({
            type: 1 //Page层类型
            ,btn: ['yes', 'cancel'], //只是为了演示
            //success指的是 修改按钮的样式 三种样式left center right
            success: function(layero){
                layero.find('.layui-layer-btn').css('text-align', 'center')
            }
            // ,area: ['350px', '150px']//弹出层页面比例,类型：String/Array,默认：'auto',在默认状态下，layer是宽高都自适应的,但当你只想定义宽度时，你可以area: '500px'，高度仍然是自适应的。当你宽高都要定义时，你可以area: ['500px', '300px']
            ,area: ['400px', '180px']//弹出层页面比例,类型：String/Array,默认：'auto',在默认状态下，layer是宽高都自适应的,但当你只想定义宽度时，你可以area: '500px'，高度仍然是自适应的。当你宽高都要定义时，你可以area: ['500px', '300px']
            ,offset:'auto'// 坐标 类型：String/Array  默认：垂直水平居中 offset默认情况下不用设置,
            // ,title: '照片上传'//title默认显示在左边，能拖动了
            ,title: ['Custom Jingkang test card number','text-align:center']//传一个数组，第一个参数标题，第二个参数可以写任何css样式，能拖动
            // ,title: false//不显示title，但是不能拖动了
            ,shade: 0.6 //遮罩透明度 类型：String/Array/Boolean 弹层外区域。默认是0.3透明度的黑色背景（'#000'）。如果你想定义别的颜色，可以shade: [0.8, '#393D49']；如果你不想显示遮罩，可以shade: 0
            ,maxmin: true //允许全屏最小化
            ,anim: 1 //0-6的动画形式，-1不开启
            , content: htmlEnglish//在这里面输入任何合法的js语句
            ,yes: function (index, layero) {
                let value = $("#RestInput").val();
                let number = $("#icKA").val();
                //询问框
                if (value === "") {
                    layer.msg("Please fill in a custom card number");
                }else {
                    let reg=/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/;
                    if(!reg.test(value)||value.length<6||value.length>12){
                        return layer.msg("Custom card number must be a combination of 6-12 digits and letters");
                    }
                    layer.confirm('Are you sure you want to customize your Jing Kang check card number?', {
                        btn: ['yes','cancel'], //按钮
                        success: function(layero){
                            layero.find('.layui-layer-btn').css('text-align', 'center')
                        }
                    }, function(){
                        layer.close(index);
                        api.saveTempNumber(number,value).then((res) => {
                            if (res.success === true && res.content === 1) {
                                layer.msg("Successful operation");
                                $("#icKA").val(value);
                                localStorage.setItem("icKA", value);
                            } else if (res.success===false && res.content === 0) {
                                layer.msg("Failed,you must first swipe the card at the reading position of Jingkang test card, and then customize it.");
                            }else if (res.success===false && res.content === "") {
                                layer.msg("something error！");
                            }
                        });
                    }, function(index1){
                        layer.close(index1);
                    });
                }

            },
        });

    });
</script>
</body>
</html>