<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>精康科技</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript" src="../Bootstrap4.3.1/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="../Bootstrap4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../layer-v3.1.1/layer/layer.js"></script>

    <script type="text/javascript" src="../webuploader-0.1.5/webuploader.min.js"></script>
    <link href="../webuploader-0.1.5/webuploader.css" rel="stylesheet" type="text/css"/>
    <!--    <script type="text/javascript" src="../page/lib/easyUpload/easyUpload.js"></script>-->

    <script type="text/javascript" src="../page/lib/ssiUploader/js/ssi-uploader.js"></script>
    <script type="text/javascript" src="../Bootstrap4.3.1/js/commons.js"></script>
    <script type="text/javascript" src="../Bootstrap4.3.1/js/common.js"></script>
    <script type="text/javascript" src="../Bootstrap4.3.1/js/variable.js"></script>
    <!--    <script type="text/javascript" src="../page/lib/showLoading/js/jquery.showLoading.js"></script>-->
    <script type="text/javascript" src="../Bootstrap4.3.1/js/error.js"></script>
    <script type="text/javascript" src="../Bootstrap4.3.1/js/analysisRes.js"></script>
    <!--    <script src="http://malsup.github.com/jquery.form.js"></script>-->
    <link rel="icon" type="image/x-icon" href="../Bootstrap4.3.1/images/favicon.ico">
    <!--    <link rel="stylesheet" th:href="@{/static/page/lib/showLoading/images/loading.gif}">-->
    <link rel="stylesheet" href="../page/lib/bootstrap/css/bootstrap2.css">
    <link rel="stylesheet" href="../page/stylesheets/theme.css">
    <link rel="stylesheet" href="../page/lib/font-awesome/css/font-awesome.css">

    <link rel="stylesheet" href="../page/lib/easyUpload/easy-upload.css">

    <link rel="stylesheet" href="../Bootstrap4.3.1/css/showLoading.css">
    <link rel="stylesheet" href="../page/lib/ssiUploader/css/ssi-uploader.css">
    <link rel="stylesheet" href="../Bootstrap4.3.1/css/uploadFile.css">
    <style>
        #progress_bar {
            margin: 10px 0;
            padding: 3px;
            border: 1px solid #000;
            font-size: 14px;
            clear: both;
            opacity: 0;
            -moz-transition: opacity 1s linear;
            -o-transition: opacity 1s linear;
            -webkit-transition: opacity 1s linear;
        }
        #progress_bar.loading {
            opacity: 1.0;
        }
        #progress_bar .percent {
            background-color: #99ccff;
            height: auto;
            width: 0;
        }
        .demo{min-width:360px;margin:30px auto;padding:10px 20px}
        .demo h3{line-height:40px; font-weight: bold;}
        .file-item{float: left; position: relative; width: 110px;height: 110px; margin: 0 20px 20px 0; padding: 4px;}
        .file-item .info{overflow: hidden;}
        .uploader-list{width: 100%; overflow: hidden;}
    </style>
</head>
<!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body class="">
<!--<![endif]-->
<div class="navbar" id="p_title">
    <div class="navbar-inner">
        <ul class="nav pull-right">
            <li><a href="javascript:void(0);" onclick="clang(1)" class="hidden-phone visible-tablet visible-desktop">English</a>
            </li>
            <li><a href="javascript:void(0);" onclick="clang(2)"
                   class="hidden-phone visible-tablet visible-desktop">中文</a></li>
            <li><a href="#" class="hidden-phone visible-tablet visible-desktop">|</a></li>
            <li><a href="javascript:void (0)" onclick="LogoutEnglish()"
                   class="hidden-phone visible-tablet visible-desktop">Logout</a></li>
            <li>
                <a href="javascript:void (0)" onclick="updatePwdEnglish()" class="dropdown-toggle">
                    <i class="icon-user"></i><span id="yh"></span>
                </a>
            </li>
        </ul>
        <a class="brand"><img src="../page/images/logo2.png" style="height: 30px;"> <span class="second">PrecisionMedCare</span></a>
    </div>
</div>
<div class="sidebar-nav">
    <!--a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-dashboard"></i>功能列表</a-->
    <ul id="dashboard-menu" class="nav nav-list collapse in pagination-centered">
        <li ><a href="../home/homeEnglishSlice.html" style="line-height: 20px;height: 53px;padding-top: 22px;" ><i class="icon-home" style="font-size: 2em;" ></i><br>Home</a></li>
        <li class="active"><a href="../uploadFile/uploadFileEnglishSlice.html" style="line-height: 20px;height: 53px;padding-top: 22px;" ><i class="icon-upload" style="font-size: 2em;" ></i><br>NewSlice</a></li>
        <li >
            <a  href="javascript:void(0);" onclick="analysisResEn()" style="line-height: 20px;height: 53px;padding-top: 22px;" ><i class="icon-dashboard" style="font-size: 2em;" ></i><br>Result</a>
        </li>
        <li ><a href="../history/historyEnglishSlice.html" style="line-height: 20px;height: 53px;padding-top: 22px;" ><i class="icon-list-alt" style="font-size: 2em;" ></i><br>History</a></li>
        <li ><a href="../about/aboutEnglishSlice.html" style="line-height: 20px;height: 53px;padding-top: 22px;" ><i class="icon-info-sign" style="font-size: 2em;" ></i><br>About</a></li>
    </ul>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="well" style="text-align: left;">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active in" id="home">
                        <div id="uploader">
                            <div class="btns">
                                <!--<div id="picker">选择文件</div>
                                <button id="startBtn" class="btn btn-primary btn-upload">开始上传</button>
                                &lt;!&ndash;用来存放文件信息&ndash;&gt;
                                <div id="list" class="uploader-list">
                                    <span id="name"></span><br>
                                    <span id="size"></span><br>
                                    <span id="state"></span>
                                </div>-->
                                <!--用来存放文件信息-->
                                <div id="uploadfile">
                                    <!--用来存放文件信息-->
                                    <div id="thelist" class="uploader-list"></div>
                                    <div class="form-group form-inline">
                                        <div id="picker" style="float:left">Select the file</div> &nbsp;
                                        <button id="ctlBtn" class="btn btn-default" style="padding:8px 15px;" disabled="disabled">Start upload</button>
                                        <button id="pause" class="btn btn-danger" style="padding:8px 15px;" disabled="disabled">Pause upload</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <form id="tab" action="" method="post">
                            <p id="picId" class="pic">
                            </p>
                            <div class="btn-toolbar" style="text-align: left;display: inline-block;">
                                <div class="tab-pane active in" id="home">
                                    <label>Patient ID:</label>
                                    <input type="text" id="patient_id" name="patient_id" value="" class="input-xlarge" autocomplete="off">
                                    <label>Detection ID:</label>
                                    <input type="text" id="detection_id" name="detection_id" value="" class="input-xlarge" autocomplete="off">
                                    <hr>
                                    <a class="btn btn-large btn-block"  id="startJS" href="#">Start computing</a>
                                </div>
                                <div class="btn-group">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar" style="border-bottom-width: 0px;border-top-width: 2px;" id="footer">
    <div class="navbar-inner" style="color: #FFF; text-align: center;border-bottom-width: 0px;">
        <p>Copyright©PrecisionMedCare
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <img src="../Bootstrap4.3.1/images/icp.png">&nbsp;
            <a href="http://www.beian.miit.gov.cn/" target="_blank">Zhejiang ICP No.19049666-1</a>
        </p>
    </div>
</div>
<script type="text/javascript">
    let fileName;
    let flag = 0;
    let GUID = WebUploader.Base.guid();//一个GUID
    let $list = $('#thelist'),
        $btn = $('#ctlBtn');
    $pause = $('#pause');
    let uploader = WebUploader.create({
        // swf文件路径
        swf: '../webuploader-0.1.5/Uploader.swf',
        // 文件接收服务端。
        server: '../uploadSlice/part',
        formData: {
            guid: GUID
        },
        pick: {id: '#picker', multiple: false},// 内部根据当前运行是创建，可能是input元素，也可能是flash. multiple表示上传文件个数
        fileNumLimit: 1,//验证文件总数量, 超出则不允许加入队列。
        chunked: true, // 分片处理
        chunkSize: 20 * 1024 * 1024, // 每片20M,
        chunkRetry: false,// 如果失败，则不重试
        threads: 1,// 上传并发数。允许同时最大上传进程数。
        resize: false,// 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
        // 禁掉全局的拖拽功能。这样不会出现图片拖进页面的时候，把图片打开。
        disableGlobalDnd: true,
    });

    $btn.click(function () {
        uploader.upload();
        $btn.attr('disabled', 'disabled');
        $("#uploader .progress-bar").addClass('progress-bar-striped').addClass('active');
        $pause.removeAttr('disabled');
    });
    $pause.click(function () {
        uploader.stop(true);
        $btn.removeAttr('disabled');
        $btn.text("Continue uploading");
        $("#uploader .state").html("Upload status: suspended ...");
        $("#uploader .progress-bar").removeClass('progress-bar-striped').removeClass('active');
    });
    // 当有文件被添加进队列的时候
    uploader.on( 'fileQueued', function( file ) {
        $list.append( '<div id="' + file.id + '" class="item">' +
            '<p class="info">' + 'file name：' + file.name + '</p>' +
            '<p class="size">' + 'File size：' + renderSize(file.size) + '</p>' +
            '<p class="state"> Upload status：Waiting for upload...</p>' +
            /*  '<div id="bar" style="display: none">' +
              '     <div style="background:#848484;width:100px;height:10px;margin-top:5px">\n' +
              '        <div id="progressNumber" style="background:#428bca;width:0px;height:10px" >\n' +
              '        </div>\n' +
              '     </div>\n' +
              '    <font id="percent">0%</font>' +
              '</div>'+*/
            '</div>' );
        $btn.removeAttr('disabled');
    });
    // 文件上传过程中创建进度条实时显示。
    uploader.on( 'uploadProgress', function( file, percentage ) {
        let $li = $( '#'+file.id ),
            $percent = $li.find('.progress .progress-bar');

        // 避免重复创建
        if ( !$percent.length ) {
            $percent = $('<div class="progress progress-striped active">' +
                '<div class="progress-bar" role="progressbar" style="background:#428bca;width:0px;height:20px">' +
                '<font id="percentage" color="#ffd700">0%</font>'+
                '</div>' +
                '</div>').appendTo( $li ).find('.progress-bar');
        }

        $li.find('p.state').text('Upload status: uploading ...');
        // $("#bar").show();
        // $("#percent").html(percentage * 100 + '%' );
        // $("#progressNumber").css("width", "" + percentage * 100  + "px");
        $("#percentage").html((percentage * 100).toFixed(2) + '%');
        $percent.css( 'width', percentage * 100 + '%' );
    });
    //当文件上传成功时触发。
    uploader.on("uploadSuccess", function (file) {
        // $("#bar").hide();
        let $li = $('#' + file.id);
        $.ajax({
            url: "../uploadSlice/merge",
            type: "POST",
            data: {
                guid: GUID,
                fileName: file.name
            },
            dataType: 'json',
            cache: false,
            beforeSend: () => {
                let index = layer.load(0,{
                    shade: [0.8, '#393D49'],
                    content:'<div style="margin-left: -13px">' +
                        '       <span>Data integration, please wait </span>' +
                        '</div>',
                    success: function (layero, index) {
                        layero.find('.layui-layer-content').css({
                            'padding-top': '35px',
                            'text-align': 'left',
                            'width': '120px',
                            'color': '#428bca'
                        });
                        var msg = layero.text();
                        var i = 150;
                        var timer = null;
                        var fn = function () {
                            layero.find(".layui-layer-content").text(msg + 'Estimated waiting time:' + i + 's');
                            if (!i) {
                                // layer.close(index);
                                clearInterval(timer);
                            }
                            i--;
                        };
                        timer = setInterval(fn, 1000);
                        fn();
                    }
                });
            },
            success: (data) => {
                if (data.code === 200) {
                    $li.find('p.state').text('Upload status: upload completed');
                    layer.msg("File uploaded successfully");
                    flag = 1;
                    fileName = file.name;
                    $btn.attr('disabled', 'disabled');
                    $pause.attr('disabled', 'disabled');
                }else {
                    layer.msg("Encountered some errors during file upload");
                }
            },
            complete:function(xhr){//请求完成
                layer.closeAll('loading');
            },
            error: function(xhr,status,msg){
                layer.msg('Loading ...');
            }
        });
    });
</script>
<script type="text/javascript">
    let username;
    getUsername().then((data) => {
        username = data.content;
        $("#yh").html(data.content);
    });
    var tempheith=0;
    $(function() {
        var footerHeight = 0,
            footerTop = 0,
            $footer = $("#footer");
        $content = $('.content');
        $title = $('#p_title');
        function positionFooter() {
            //取到div#footer高度
            footerHeight = $footer.height();
            //div#footer离屏幕顶部的距离
            footerTop = ($(window).scrollTop()+$(window).height()-footerHeight)+"px";
            //alert($(window).height());
            //alert("offh:"+document.getElementsByClassName("content")[0].offsetHeight);
            if(tempheith != $(window).height()) {
                //alert($(window).height() +" "+tempheith);
                tempheith = $(window).height();
                $content.css({height:'auto'});
            }else{

                return;
            }
            if ( ($(document.body).height()+footerHeight) < $(window).height()) {
                // alert($(window).height() +" "+footerHeight+" "+$title.height());
                var tempheith2 = $(window).height()-footerHeight-$title.height()-4;
                $content.css({height:tempheith2});

            }
            //如果页面内容高度小于屏幕高度，div#footer将绝对定位到屏幕底部，否则div#footer保留它的正常静态定位


        }
        positionFooter();
        $(window).scroll(positionFooter).resize(positionFooter);
    });
</script>
<script type="text/javascript">
    $("[rel=tooltip]").tooltip();
    $(function() {
        $('.demo-cancel-click').click(function(){return false;});
    });
</script>
<script>
    const api = {
        insertBLKResultGroup: (username, patientID, detectionID,fileName) => {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url:"../uploadSlice/insertBLKResultGroup",
                    type:"POST",
                    data:JSON.stringify({
                        username: username,
                        patientID: patientID,
                        detectionID: detectionID,
                        fileList: fileName
                    }),
                    contentType:'application/json',//发送信息至服务器时内容编码类型。
                    dataType:'json', // 预期服务器返回的数据类型。如果不指定，jQuery 将自动根据 HTTP 包 MIME 信息来智能判断，比如XML MIME类型就被识别为XML。
                    cache:false,
                    beforeSend: () => {
                        //注意，layer.msg默认3秒自动关闭，如果数据加载耗时比较长，需要设置time
                        loadingFlag= layer.msg('please wait. . .', {
                            // icon: 16,
                            shade: 0.6,
                            // shadeClose:false,
                            time: 1800000,
                            success: (layero, index) => {
                                let msg = layero.text();
                                let i = 3000;
                                let timer = null;
                                let fn = function () {
                                    layero.find(".layui-layer-content").text(msg + '(' + i + ')');
                                    if (!i) {
                                        // layer.close(index);
                                        clearInterval(timer);
                                    }
                                    i--;
                                };
                                timer = setInterval(fn, 1000);
                                fn();
                            }
                        });
                    },
                    success: (data) => {
                        layer.close(loadingFlag);
                        resolve(data);
                    },
                    error:(XMLHttpRequest, textStatus, errorThrown)=>{
                        try {
                            let response = JSON.parse(XMLHttpRequest.responseText);
                            layer.alert(response.msg + "," + response.data,{icon: 2});
                        } catch (e) {
                            layer.alert('Server exception',{icon: 2});
                        }
                    }
                });
            });
        },
        updateBLKResult:function (resultgrounid,patient_id,detect_id,result,last,errorInfo,isResult) {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url:"../upload/updateResult",
                    type:"POST",
                    data:JSON.stringify({
                        id:resultgrounid,
                        patientID: patient_id,
                        detectionID: detect_id,
                        result: result,
                        last: last,
                        error: errorInfo,
                        isResult: isResult
                    }),
                    contentType:'application/json',//发送信息至服务器时内容编码类型。
                    dataType:'json', // 预期服务器返回的数据类型。如果不指定，jQuery 将自动根据 HTTP 包 MIME 信息来智能判断，比如XML MIME类型就被识别为XML。
                    cache:false,
                    success: (data) => {
                        resolve(data);
                    },
                    error:(XMLHttpRequest, textStatus, errorThrown)=>{
                        try {
                            let response = JSON.parse(XMLHttpRequest.responseText);
                            layer.alert(response.msg + "," + response.data,{icon: 2});
                        } catch (e) {
                            layer.alert('Server exception',{icon: 2});
                        }
                    }
                });
            });
        }
    };
    $("#startJS").click(() => {
        if($("#patient_id").val().trim()==""){
            layer.msg("Please enter patient ID", () => {
            });
            return false;
        }
        if($("#detection_id").val().trim()==""){
            layer.msg("Please enter detection ID", () => {
            });
            return false;
        }
        if(flag === 0){
            layer.msg("Please upload the file first", () => {
            });
            return false;
        }
        const fileList = fileName;
        const patientID = $("#patient_id").val();
        const detectionID = $("#detection_id").val();
        api.insertBLKResultGroup(username,patientID,detectionID,fileName).then((data) => {
            const resultgrounid = data.content.arg01;
            const patient_id = data.content.patient_id;
            const detect_id = data.content.detect_id;
            const result = data.content.result;
            const last = data.content.last;
            const errorInfo = data.content.error;
            const isResult = (errorInfo && errorInfo != "") ? 2 : 1;
            api.updateBLKResult(resultgrounid, patient_id, detect_id, result, last, errorInfo, isResult).then((list)=>{
                if (errorInfo != "") {
                    layer.msg("Processing failed：" + errorInfo);
                } else {
                    $.get("../upload/getPath?id=" + resultgrounid, function (data) {
                        urlCh = "../AnalysisResult/analysisResultSlice.html?id=" + resultgrounid + "&fileList=" + fileList + "&username=" + username + "&path=" + data.path;
                        urlEn = "../AnalysisResult/analysisResultEnglishSlice.html?id=" + resultgrounid + "&fileList=" + fileList + "&username=" + username + "&path=" + data.path;
                        localStorage.setItem("urlCh", urlCh);
                        localStorage.setItem("urlEn", urlEn);
                        localStorage.setItem("username", username);
                        window.location.href = "../AnalysisResult/analysisResultEnglishSlice.html?id=" + resultgrounid + "&fileList=" + fileList + "&username=" + username + "&path=" + data.path;
                    });
                }
            })
        });
    });
    function clang(_sing) {
        if (_sing == 1) {
            window.location.href = "uploadFileEnglishSlice.html";
        } else {
            window.location.href = "uploadFileSlice.html";
        }
    }
</script>
</body>
</html>
